.compartment-node {
    min-width: 200px;
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
}

.compartment-node-header {
    background: #63A9FF;
    border-radius: 5px 5px 0 0;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.compartment-node-header label {
    font-size: 12px;
    font-family: FiraSans;
    font-weight: 600;
    padding: 0 0 5px 0;
}



.start-compartment-check {
    display: grid;
    justify-content: end;
    align-content: flex-end;
}

.start-compartment-check input {
    color: black;
}

.compartment-node-body {
    background: rgba(226, 226, 226, 0.5);
    border-radius: 0 0 5px 5px;
    min-height: 50px;
    height: fit-content;

}

.compartment-node-body label {
    margin: 10px;

}

.react-flow__node.selected{
    box-shadow: 1px 1px 4px 2px rgba(0,0,0,.2);
    border-radius: 5px;
}


