
.upper-menu {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    background-color: #fefefe;
    color: hsl(0, 0%, 0%);
    padding: 5px;
    border-bottom: px solid #ddd;
   
  }
  
  .logo-and-file {
    display: flex;
    align-items: center;
    font-size:small;
  }
  
  .logo-and-file img {
    margin-right: 10px;
    margin-left: 25px;
  }

  .header-buttons {
    margin-left: 60px;
    transition-duration: 0.4s;
    display: flex;

  }

  .header-buttons button {
    background-color:white;
    border:white;
    margin-left: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 12px;
  }
  .header-buttons button:hover {
    background-color:#87CEEB;
    
  }
  

.dark-mode-button {
  position: fixed;
  top: 35px;
  right: 25px;
  background-color: #333;
  color: #000000;
  border: #000000;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  z-index: 0; 
}



.dark-mode  {
  background-color: #121212;
  color: #fff; 
  border-bottom-color: #ddd; 
}


.dark-mode .upper-menu {
  background-color: #121212; 
  color: #fff;
  border-bottom-color: #ddd;
}


 