.modal .content .header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.modal .content .modal_form .body{
  display: flex;
  justify-content: center;
  font-size: 12px;
  font-style: italic;
  color: rgba(0, 0, 0, 0.5);
}

.modal .content .modal_form .buttons{
  display: flex;
  justify-content: center;
}

.modal-content {
  display: none;
  position: fixed;
  background-color: #fefefe;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 1px solid #71C2FF;
  width: 80%;
  max-width: 432px;
}

.modal.open {
  display: block;
}

.modal.open .modal-content {
  display: block;
}
