.compartment-node{
    min-width: 200px;
    width: fit-content;
    height: fit-content;
}

.compartment-node-header{
    background: #63A9FF;
    border-radius: 5px 5px 0 0;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.compartment-node-header label{
    font-size: 12px;
    font-family: FiraSans;
    font-weight: 600;
    padding: 0 0 5px 0;
}



.start-compartment-check{
    display: grid;
    justify-content: end;
    align-content: flex-end;
}

.start-compartment-check input{
    color: black;
}

.compartment-node-body{
    background: #E2E2E2;
    border-radius: 0 0 5px 5px;
    min-height: 100px;
    height: fit-content;
    
}

.compartment-node-body label{
    margin: 10px;

}